nodered_sourcecode/.gitflow.json.backup
[
    {
        "id": "09c5393cc94c2c31",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0d3553f4d179eed",
        "type": "inject",
        "z": "09c5393cc94c2c31",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
    },
    {
        "id": "e0d3553f4d179eed",
        "type": "inject",
        "z": "09c5393cc94c2c31",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
    }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7518b416196030f0",
        "type": "debug",
        "z": "09c5393cc94c2c31",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 480,
        "wires": []
    },
    {
        "id": "84c1d33a4835f53c",
        "type": "link out",
        "z": "09c5393cc94c2c31",
        "name": "link out 1",
        "mode": "link",
        "links": [],
        "x": 265,
        "y": 400,
        "wires": []
    },
    {
        "id": "d3f2a7564b4eebef",
        "type": "status",
        "z": "09c5393cc94c2c31",
        "name": "",
        "scope": null,
        "x": 200,
        "y": 220,
        "wires": [
            []
        ]
    }
]