nodered_sourcecode/.gitflow.json.backup
[
    {
        "id": "09c5393cc94c2c31",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1d8f9aa3.5a8415",
        "type": "tab",
        "label": "Process Control",
        "disabled": true,
        "info": ""
    },
    {
        "id": "9b117d88e34b540e",
        "type": "tab",
        "label": "Process Control",
        "disabled": true,
        "info": ""
    },
    {
        "id": "975c6a8b.8b9bf8",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e0d0071e.95d478",
        "type": "ui_group",
        "name": "Process Control",
        "tab": "cbe94487.c0f7a8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cbe94487.c0f7a8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c0560840f6788fc2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ec4a5df4564121c7",
        "type": "mqtt in",
        "z": "09c5393cc94c2c31",
        "name": "Arduino data",
        "topic": "arduino/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "975c6a8b.8b9bf8",
        "inputs": 0,
        "x": 70,
        "y": 220,
        "wires": [
            [
                "7d7c208a5d6cd894"
            ]
        ]
    },
    {
        "id": "7d7c208a5d6cd894",
        "type": "json",
        "z": "09c5393cc94c2c31",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "dba4a67e825c8722"
            ]
        ]
    },
    {
        "id": "dba4a67e825c8722",
        "type": "function",
        "z": "09c5393cc94c2c31",
        "name": "processData",
        "func": "const {heater, stirrer, valve_a, valve_b, valve_c} = msg.payload;\n\nconst updateState = (state, id) => {\n    return {payload: {state: state ? \"1\" : \"0\"}, topic: id};\n};\n\nreturn [\n    updateState(heater, \"heater\"),\n    updateState(stirrer, \"stirrer\"),\n    updateState(valve_a, \"valve_a\"),\n    updateState(valve_b, \"valve_b\"),\n    updateState(valve_c, \"valve_c\")\n];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            [
                "69dc782b9b1710d3"
            ],
            [
                "e1ab8681c14444d7"
            ],
            [
                "58e4a8ce59869257"
            ],
            [
                "b7f98ef8fcfb71de"
            ],
            [
                "2145fd6f9ea820d4"
            ]
        ]
    },
    {
        "id": "69dc782b9b1710d3",
        "type": "ui_led",
        "z": "09c5393cc94c2c31",
        "order": 1,
        "group": "e0d0071e.95d478",
        "width": "3",
        "height": "1",
        "label": "Heater",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "e1ab8681c14444d7",
        "type": "ui_led",
        "z": "09c5393cc94c2c31",
        "order": 2,
        "group": "e0d0071e.95d478",
        "width": "3",
        "height": "1",
        "label": "Stirrer",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "58e4a8ce59869257",
        "type": "ui_led",
        "z": "09c5393cc94c2c31",
        "order": 3,
        "group": "e0d0071e.95d478",
        "width": "3",
        "height": "1",
        "label": "Valve A",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "b7f98ef8fcfb71de",
        "type": "ui_led",
        "z": "09c5393cc94c2c31",
        "order": 4,
        "group": "e0d0071e.95d478",
        "width": "3",
        "height": "1",
        "label": "Valve B",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "2145fd6f9ea820d4",
        "type": "ui_led",
        "z": "09c5393cc94c2c31",
        "order": 5,
        "group": "e0d0071e.95d478",
        "width": "3",
        "height": "1",
        "label": "Valve C",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 580,
        "y": 400,
        "wires": []
    },
    {
        "id": "ad4a6c81d614dda9",
        "type": "mqtt in",
        "z": "9b117d88e34b540e",
        "name": "Arduino data",
        "topic": "arduino/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "975c6a8b.8b9bf8",
        "inputs": 0,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "48f2e31e205d373c"
            ]
        ]
    },
    {
        "id": "48f2e31e205d373c",
        "type": "json",
        "z": "9b117d88e34b540e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "8410105aba013930"
            ]
        ]
    },
    {
        "id": "8410105aba013930",
        "type": "function",
        "z": "9b117d88e34b540e",
        "name": "processData",
        "func": "const {heater, stirrer, valve_a, valve_b, valve_c} = msg.payload;\n\nconst updateState = (state, id) => {\n    return {payload: {state: state ? \"1\" : \"0\"}, topic: id};\n};\n\nreturn [\n    updateState(heater, \"heater\"),\n    updateState(stirrer, \"stirrer\"),\n    updateState(valve_a, \"valve_a\"),\n    updateState(valve_b, \"valve_b\"),\n    updateState(valve_c, \"valve_c\")\n];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 120,
        "wires": [
            [
                "32fd3c55211c90ad"
            ],
            [
                "ec4508d1fb7a866a"
            ],
            [
                "c1a8d4d1cbdf8bb4"
            ],
            [
                "fa6df250bbfe2342"
            ],
            [
                "5a526966d72cce1e"
            ]
        ]
    },
    {
        "id": "32fd3c55211c90ad",
        "type": "ui_led",
        "z": "9b117d88e34b540e",
        "order": 1,
        "group": "e0d0071e.95d478",
        "width": "3",
        "height": "1",
        "label": "Heater",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "ec4508d1fb7a866a",
        "type": "ui_led",
        "z": "9b117d88e34b540e",
        "order": 2,
        "group": "e0d0071e.95d478",
        "width": "3",
        "height": "1",
        "label": "Stirrer",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "c1a8d4d1cbdf8bb4",
        "type": "ui_led",
        "z": "9b117d88e34b540e",
        "order": 3,
        "group": "e0d0071e.95d478",
        "width": "3",
        "height": "1",
        "label": "Valve A",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "fa6df250bbfe2342",
        "type": "ui_led",
        "z": "9b117d88e34b540e",
        "order": 4,
        "group": "e0d0071e.95d478",
        "width": "3",
        "height": "1",
        "label": "Valve B",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "5a526966d72cce1e",
        "type": "ui_led",
        "z": "9b117d88e34b540e",
        "order": 5,
        "group": "e0d0071e.95d478",
        "width": "3",
        "height": "1",
        "label": "Valve C",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 630,
        "y": 300,
        "wires": []
    }
]