nodered_sourcecode/.gitflow.json.backup
[
    {
        "id": "5876467d554e446b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c689f194f494e02",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "15000"
    },
    {
        "id": "fdae3eb1d288a6dc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5a2fe9eb9506d486",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bf7f84f5edaff154",
        "type": "ui_group",
        "name": "Batch-Process",
        "tab": "fdae3eb1d288a6dc",
        "order": 1,
        "disp": true,
        "width": "44",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fbc8a06d.0ea5b",
        "type": "ui_group",
        "name": "Default",
        "tab": "810a665b.1cb0e8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "810a665b.1cb0e8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "93da4d3a408c1047",
        "type": "json",
        "z": "5876467d554e446b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 280,
        "wires": [
            [
                "9038b48b1d3f91c1",
                "edd1cae3f13fc428"
            ]
        ]
    },
    {
        "id": "ea82ece1189f470e",
        "type": "ui_template",
        "z": "5876467d554e446b",
        "group": "bf7f84f5edaff154",
        "name": "Batch-Process",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!-- Do not edit this file with editors other than diagrams.net -->\n<!DOCTYPE svg PUBLIC \"-//W3C//DTD SVG 1.1//EN\" \"http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd\">\n<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" version=\"1.1\" width=\"2339px\"\n  height=\"828px\" viewBox=\"-0.5 -0.5 2339 828\"\n  content=\"&lt;mxfile host=&quot;app.diagrams.net&quot; modified=&quot;2023-04-04T00:04:32.185Z&quot; agent=&quot;Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36&quot; etag=&quot;cV36P6PmhXWutkxVHiZb&quot; version=&quot;21.1.2&quot; type=&quot;device&quot;&gt;&lt;diagram name=&quot;Page-1&quot; id=&quot;va3DMBQNAqvyk2VXDpsI&quot;&gt;7V1pc+K41v41qerpqqS8Lx8JITepSie5QHdP3i9TDgjibsBc4yzMr38l2zLWBgYs23TM1HSwbMtG5zmrjo7O9O784z+ht3z5FozB7ExTxh9n+tWZphm6Af9FDeukwVbtpGEa+uOkSdk0DPx/QdKo4tZXfwxWaVvSFAXBLPKXZOMoWCzAKCLavDAM3snLJsFsTDQsvSlgGgYjb8a2/vTH0Uvaqlru5sQN8Kcv6aMdLf19z97o9zQMXhfp8840XYk/yem5h/tKG1Yv3jh4zzXpvTO9GwZBlHybf3TBDA0tOWzXgrPZe4dgERW5Yf3v03wY9P759fNp8jT7NRv+XnfP9fRXvnmzV4B/R/y20RqPUPwbAepFOdMv31/8CAyW3gidfYeQgG0v0XwGj1T4deLPZt1gFoTweBEs4EWXqygMfgPcCIfpOv5kZ/Cw67Bl7K1e4kehvlKSe8/xm6CHpy8Lwgh8CIdBzQYXYhYEcxCFa3gJeUOKVvXCTI7fN7TXdN1KGl8IuqdA91LATbOuN4MOv6TjzqfBPeg8PnZ/g8l9311/vP33w7xdnqvskIMxxGh6GITRSzANFt6st2m93BAFjdTmmrsgWKaNv0AUrVOG816jgCQU+PCjv9GwwhFIjp5yZ64+0hGPD9b4YAF/L7rpXLlQFBW3PCXdKDpu2NwdHxG3P4LQh+MGwrSRxcDMewazy4y7KDRNgkWEm8Zg4r3Ooq0YE+ADDnfwGo7AFrqkZIm8cAqibfRLO0RE24rAEMy8yH8jBU/pcNL24Wh1N0fvIEeO3+Gwm5ap2j0eQXrxhyJgnlCoJ4z5VTBDv1FMPEYECPndMCyC422LZXjbZvndtBRJBNJbAuUJZOoOKZJZArkGSx9p5HHqkMasFMTyWYWSFh8ngtZwscQWSGl4QEvZpsjU8mVleutj4MN32YDKNEmuxyodd5G8aXpX3mqiO3LIjhyV6ihRD0xHnTD01rnLluiC1ZYXFjxn3/faID95gw0fZIN7hKWCmXuL6EKM70Pz+g4h7jFY+ZEfLOCp5yCKgjkEjzfzp6hhBMGD8JlnA3xzJ70mQuxzGY8dCHtvAA1hcmVmKMY2xIu3RI+ff0yRj3Kx9McafMc3sLqI/6Ce0d/hOr5s6kWoaeyH0LpM3g7CAXHeDj4h2bz5ktU0LkiUWFjT5YQrFqR54aoqsqSreZR0VcqSrk2Rh0Y14pA2glS6C4EUK01w6C3ZifEwq6G7jZ3Wuuhu1EN3L4w6KDaE9I63AldQWeD2ax/9hBJdz8wpRpaaQ/rEqal2mE+8F+R2e6kVQU5VLH075gSm174Wk6potFBTKAznTCDmdtexLyxl81G5fVXGKM5uy4pj5VxAE2cFZquLuf9B21I8q4mxvXZaa3yLjLC+6rGZyrCPFFI6ugpjHKk868jQZVlHaoFw7I5oADmSmAhg9BquIFP3wSqRmgkaZsF7B8fQFW7EtQziyiShTpLQ4ZBQ4Rm4jiwSYsGxjYRgMcbqKR3IHAHJMa3IYtmpFXIDanLGE7cd67bbpEhnojyF3XabH/WrSJxrBRzlFgQi2rlaSSCgOqoaBOZuEHymQK+h0+EI09B482+2iVvz6NJNWRK7DciTdFJJ2WnqrFLVOewvLSKP7XyCQFYs5dDQEJSy/vca4BPnia3TgRfAIfmIRwefh9+m6d+4o2fcMFBxE3zXZ/oy2JY8EjdTOIFDHBWwxziz5ELTHFvec388jv1jHvoO1Rclm2M2xgWGDme2jWdRSzOocbLGNt6OQt9bTIVDm09umPnLH7nvN9iQXi2T1JQJdMPGp+wS0QEj03YZAmJfNU9AackRGs8xlsb7Wsv7R0DHJqCjW6xqr5b3CzjTLe/nCahSBHTq5X1dq5L39Zb3S9P7qllsnlEa7+sFbPqW98V6P4t71sb7POdZFu+/AA/xXqn8X5yvQxSTzYVc04kP2K95eWZeob5eoyAXty0qWvZCozxs6QapV0yDxZbDC7NLEw48pyCh82rpLcrFVpx40tmBreSxLbb2xpbqkEanpTLQciuFlthdkQStyxZacqDluHqzoMVzZ6RCq9tCS9KspUtlpyqsuVwptrCGrgRbq8gPw53mVguuQ8FlkKa8xoZgK7W28EK/qhPqD80BIxc5ZS14kZN2dkBCV0UTuDuTwCpKN1XxkrY9U8DKmnk1xIGjTNRcdobdm/PH/kO3NxhkZ0N8Ol42qqGsMCWYIPHGF1eNCwPth7ayRA/WY3jCPR81wLqlkrgPln3bKL9RUde397eDmx68SoFAuPreHRLq6xB6N14PSTVrSLa3XXYGQDV4USRLFhzEUSQOHLo3vW+33c4dvKFzNBA+B+NnAp+U9wprc3DT8OTJAXHKwHbCX7aE34vwikUFjhXOpJEs0pvWo3c9v/ox+MfsAef74F7Rv58fP2GsGgJXZoiIfTIzQopk0jv02hKdobzLKaRgyiI8d3ViS/nyKW+plIfJiYxVSnixud8SvtSQqOM2jOV507wt5cunvE1beJzckGopL3b0WsqXSnmF5Hmdk9JZLeWPzwxoKV+M50l33nTqpvzxeeAt5YtQXtfJqU/TrFvaizM2WspLDeFpbAivWsqz7vx1527Qg03xkfIAf7p23b17GMRx3J+3wxv4Z3iDruj93e09Dm8f7uPr4D93vR89FOW5vb+67XaGD/0BuuXmtovu6fTRPfcP/W+du7sn+DXr9Mt996/chZe97sO3HroVv8rPm959rvt+rxNfOOjdDx76ElA0A5OosRiybGqZl+qyikPXJU0LCEIDPBeRIsuxdS7zy7HSCclp6I19sBnpPStiqko5FHEoh121WY+dSxAL5zNJ8NkLrI7kVIYSFioQhEDh4E7iD4ddkloGWV1WNNhkWSmSGGdsoSk/WNmv/kWweJhMLl/hm8BuL5/jL4MorjJ1FTcxBNedK9UwyTNacsqLPxTE8rdk7Rr1+yTytOu4FFNrBrsyCC8WIuZ2NGkI2hrj51gE4tyUwinFusCImHuLV28mNCP+zKnE6lLxTJ1BH5tD7HLQV0ZWiwB9x5ukrsgi7X/vHW6RNgA2UiecbJXBAps9Z+gcSVTCLLMACwWq97S6rMG6DBeYrU+XiZN7K9dlzGqYVpeVqssY9Dmsj+1wKlLL02XY72p1We26jJNBV60uw25gq8tOU5fpOmsNVavLtizbrlyXsWsNWmVWpjKzaAGma+xUAU4UqkiZHZ8T0CqzUpSZrrOGTcXK7PgsAaFo+da5/x6njD786PX7t1ctMoRCgo4+szZOJg8qkhFt8Pm0jBxSrjgKp2xgxUZOg4LPTImB1sYp1WGn6lrZvE3jsN9Wkfxqg8912TgUFhwOFiq2cdrg8wnrMkMz69dlDQo+MzVNWl0mUZcZqlW7LjPa4HMjdJmh6bXrMm4dklaXnYous+vXZdtLP9Sgy7qtLqtIl1kN0GVt7LkZusxugC7jxZ5bXdZQXZappGweq3ZNtrV2SdXTqF4oXiTTKrIjpRcVVOLsgG5xquZIVGPHL7Rr1dgBy+6o/Qh1zvL6inVYge1TWh3WWB1ms0nyFeswcTGeGnRYsFRbHSYpFEBuGaZziiXzkCdRhYlj2q0Kq1CFceqEVKvCTF54uVVhJ6LCDK1uFWaKq4rVosK0VoVVosIMtW4VZopD2a0Kq06FGWrtKuz4qLJQpHS+Dx/geUiPFfjfK1iMAKJLCw1+pIaqi6PZ7LpBjVfsVKKQ2GuT6T+tsAUV9tcslxP21/GQENyqZJtRS6hW1Ib+T8jmdB2T3pccq97arE67ScH/NmoiawrbpkslmQYn5Fvp8im7jf3XM4XNlM0yTdb3rdbwtNvw/2nrMc5q8or1WJMmANrQSXV6zKldj7UTAE3RY27desxp5wBOWo9ZuKREbXrMadIsgN7qsar0mMVLwalUjzntLEBD9Jil167H2rIFp63HOJUvKtZjDSpbEIH5stVkkjSZRVfMtSxWk9kc6SVRk7VFC5qiyTiJoRVrsgYtOR9BpmwLnsoTRQZdotBWWFGkKlqVsshl/bnrfq/3f1CKXF8/9LtoU49k944BbPnR6d92Lu/Qlh+nQPgKa3mZKq8AimZwiClPmOAod56YKQ073eH3dJ+XT045VyXz2zSVrROaVbUqm27rf5/mw6D3z6+fT5On2a/Z8Pe6e15gcglJrqXgl2rKKFgswChKCQHbFME4bTPRScnESfpzOPk8OCpQ+piUsJ+lKVBzOf2aNKh81VbMitorp4gLfyFZ8+QTA0ds7/DKc5nZ2vBKyFjAT4e9+MsV2D143moJQQ4PJv4HGvCKRjMvznmmoayh4zmoJzZ0aS8mK2ArHckCdcES+ZrIEJzhJ9IsUuQtJ9GqUnmrFpgZagzcnGZxKne/9RMbu4aw6vFz1cXVPtrew19MT1X5bydkE5T/lu3oq58rjCPqbWRD5FLtQOAuZ5gOrNmc9E0c8y87sMHFnrYVewmNLzvD7s35Y/+h2xsMsrMhPr30pgBBCv4fTJIvB+Gkjp1xtwNDIhRU1SJrodmc1LusvF0le55umThmBH5hLSMKwCO6/iPWHwUAdLilQM35OQr6jwEgPGPFnzPh6hWZQXibDr9YHHzwlg5ljeUDRBxsKB8grNXRIoREiIvtabx03qgfIeLtM8pHyLvnH1Vi6k+HB7XWzVTrh8fWRUolw2Mcev7iqJVIfzhAHJMEiOXUD5Dda4kS439DbjVP+b18Jb5vtRe8BKZuMaf4D4eX6TQPXuKEEkkW7lGbrPzpAGmg/SJefdQ0+RMCb7xuxY8QXYbRPPOHF7WlqbIYd8IwTpUNlmBBUgIOR7j++ywJXcQHT+jgwsSHVx/5k1drfPThR3/jPuD3p1z75hZ0gO8YvYZvWUSMTNE14u7H1z768WkKrxdGxLGoqIOQsKvgNRyBAqIbPmoKom0XpmMKxlOwFSj5eC8HBrgtBDPoiL4B4nV50Eif8Ihilnkp51JSDvvxuI/kp6e3bRDG9mRRiNZVqqdkbJieIJ68de6yNKoqfmXRgzbYT7rccEI2rIczh1tkYu0A5jiENRKGKok58pnvxcONadMiiHPxs2eRjOYtRi9BGJPvyg+hkE7S9dGpySx47yz8uZdvg3c+QDHvR+iXIDkniVe1oryqN4tXHdoiUewDeZV2vjVTEq86Th28WmQitxivbnRXEW4lOA+zrnLhKjrBvo5qbWVgdPAIQh+OA5pA4KxDqUnJ6UUZx2gW47gUCg2FgntRxtGy7eRxTybFgiUxjqZo9IOqYBwOn0AS4kyaIIxegmmw8Ga9TSs1Y7W55i5AS6tiVvgFomg9SFyTtOBWntswo+yh4zIOVc/2MjW5bEQJghoYyyzKWFZBxirMMUd5DC5vxuUgQbsnGQWC1swhSN2Kn0aIU6Mo1c2GiVOLlE0WbT0UFqcKrqeCZ5nxmMgWp7ZWhTg1DhCnVQtQysRR9+G8hkpTqyhfOWVLU5GTTdkftmpd2NQyhMK2u6Hv7kzANqUBu0g++P7O8C7s8QX9qUWKnKLotJsl9Q2LzPgw6fhO8UiRRpWmlmREqwYV3DKsKqS+eJJw7L+d7ReEXy29BfcWOmFSSePwynMWvjkfJcBF5/2FH/nejPuswbAzRGvLrm47/+l3vsFvD9e5KH3yCkzwPv4tB2Z3KoJJAwnjtP9wcNMJ9xqHdsU2NdlhUQajwZnsyFZf5GWXJWuuwy2wWO8Az+VzaLDC9lXDNJhJbYlg0nqnsAajsx8ZXVjaXAcdb7Kr0GDsNPOXr7eLUQi8FUql7iYFBr7+xSZbf/kagw+BY/E7piwkLLzjBcyROINfO+i2zy4QdXoKi7NuTLU5rCCtgoC7tYDFpuCogs6h08rEm8VoeOjHxIx3ctmcjcJXtE7Dm6PZ+sXzaknqxxNboCE1zwQXA8w2YWD351BdDhakZdpnKQZbwZBsocpQvDCFd+3bIDP5QhBc35l8Ia+AB94ztfAiq+cgHIMwb9S+eeGX8/N8+1+JS4AG/DzlInRhxkis8YtqMVbF4jUCwNHI1S1Z1bJdPKcZ0gCg7ea5pMKYkg16MrwxMVCMOKYTSQ8R0Vo5zOzUplCz6wanSGvVcrjAipbInwMWE5qC3kpZcUGx22kuLFsEO7oJ8cZzojfWoyBfkHr5Tw9Uan9tbuYyD6gStVeBhTUrDi5aiXVUWMUmvVBbZ7fvUnnlJyRKrC1LaPZwEi/5vuUgtTnR4juR/4mvWUV+GCYXfXqcOCROVN5aXp63acvDCRsk//J1CFVZiB43QlGelnJQ1FOBU9PgFDlTq+VwNnKKmC5AhulNxpefnHCqq1OiuaiHKZFwvKheSrhBKyyFc/VF14VJpBwbm/vytQ9WAOm5XDD2s5NOxyTYJi1500zySMetx0UZxl/QhoRcy5gfc/lL4CYJnKnsks791YF3fslKCm/eBP0ygfnO/BzBG396vCqkkrA4NTQ0nnaXNi2qcmug0Y4cD64xuJQcTjAuUroneMlBcAM3BjI47Jj0yfBAerpFFMfS1zRSAnJiWNyJdnkFnMSAEmV50OHqX6/Ql5usz0rJk9EPz5PZtbV4kQSRRgM0v1iWQmm2v8j2JWICwO5VeSqTeNhbxXlnVWxKzsdwgYWxB+9JHosARdmx2k1EDjIfRC+JBFkwAIfCWTNKtWyWAqoqq7Y2lmN7lEYYZcO1YWQ8cNvXxBdNV+vcdfrfhElfkvXT7uJxHN1TCjjwMjAhOExO1fUyTOx70Hl87P4Gk/u+u/54+++Hebs8L7A1/c59o5hR52w6RW4YFQtbEPbeQCJz0ZXkvlHULlFLf6zBd3wDq4v4D+oZ/R2u48um8UZR+xWCJIWIaZmq3eMJkV782WJ5oJ7wooRVMEPDXc4sKwkUnIy7y5Euw7rlQkUtkLb+ybEiUjiyseLgXMEasMJXOPstcUhHPYcFUhZn9GaTOHUeHTIFnzyUyqAsJK8rSqrMDIGUco5mkn0UTqqke6Lepbw1LXyC76ztVdCgSDejuGAdXY3TpnPaDE6byWmzLoTGB9/Q2LeE7QxMom02yApVa1hM7+LL4mzktKWf4gw1BfB2VO4BHr7AG+NEatJXuYRQ7KKUaOROdeGxujmOHZllEEJhtICv7/kx6oG3it7BKor5LPKinBu0w/SWYR5rbMIeb9YVr/zZQ1bBwzBAuNogHWmIb8EYFd3o/T8=&lt;/diagram&gt;&lt;/mxfile&gt;\"\n  style=\"background-color: rgb(0, 0, 0);\">\n  <defs>\n    <style type=\"text/css\">\n      @import url(https://fonts.googleapis.com/css?family=Architects+Daughter);\n      &#xa;\n    </style>\n    <style>\n      .nr-dashboard-theme .nr-dashboard-template path {\n        fill: inherit;\n        /* Or use a specific color, e.g., fill: #ff0000; */\n      }\n    </style>\n  </defs>\n  <g>\n    <text x=\"2100\" y=\"210\" font-size=\"20\" fill=\"white\">Counter: {{msg.payload.counter}}</text>\n    <text x=\"2100\" y=\"250\" font-size=\"20\" fill=\"white\">State: {{msg.payload.CurrentState}}</text>\n    <rect id=\"text-background\" x=\"1950\" y=\"99\" width=\"350\" height=\"30\" fill=\"transparent\" stroke=\"#ffffff\"\n      stroke-width=\"3\" />\n    <text id=\"deserialization-error-text\" x=\"1960\" y=\"120\" font-size=\"20\" fill=\"white\">DeserializationError:\n      {{msg.payload.DebugReadLogicForceFreezeError}}\n    </text>\n    <rect x=\"1\" y=\"1.5\" width=\"2336\" height=\"824\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"3\" stroke-dasharray=\"9 9\"\n      pointer-events=\"all\" />\n    <path d=\"M 584.5 636 L 584.49 646.52 Q 584.48 656.52 584.44 661.66 L 584.4 666.8\" fill=\"none\" stroke=\"#ffffff\"\n      stroke-width=\"3\" stroke-miterlimit=\"10\" pointer-events=\"stroke\" />\n    <path d=\"M 584.35 673.55 L 579.91 664.51 L 584.4 666.8 L 588.91 664.58 Z\" fill=\"#ffffff\" stroke=\"#ffffff\"\n      stroke-width=\"3\" stroke-miterlimit=\"10\" pointer-events=\"all\" />\n    <rect x=\"446\" y=\"76\" width=\"277\" height=\"560\" rx=\"41.55\" ry=\"41.55\" fill=\"#56517e\" stroke=\"#eeeeee\"\n      pointer-events=\"all\" />\n    <rect x=\"538\" y=\"16\" width=\"94\" height=\"60\" rx=\"9\" ry=\"9\" fill=\"#56517e\" stroke=\"#eeeeee\" pointer-events=\"all\" />\n    <path d=\"M 584.8 777.3 L 584.77 805.94\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"3\" stroke-miterlimit=\"10\"\n      pointer-events=\"stroke\" />\n    <path d=\"M 584.77 812.69 L 580.27 803.69 L 584.77 805.94 L 589.27 803.7 Z\" fill=\"#ffffff\" stroke=\"#ffffff\"\n      stroke-width=\"3\" stroke-miterlimit=\"10\" pointer-events=\"all\" />\n    <path d=\"M 534.5 697 L 584.5 727 L 534.5 757 Z M 634.5 697 L 584.5 727 L 634.5 757 Z\" fill=\"#56517e\"\n      stroke=\"#eeeeee\" stroke-linejoin=\"round\" stroke-miterlimit=\"10\" transform=\"rotate(90,584.5,727)\"\n      pointer-events=\"all\" />\n    <path d=\"M 283 121 L 435.9 121\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"3\" stroke-miterlimit=\"10\"\n      pointer-events=\"stroke\" />\n    <path d=\"M 442.65 121 L 433.65 125.5 L 435.9 121 L 433.65 116.5 Z\" fill=\"#ffffff\" stroke=\"#ffffff\" stroke-width=\"3\"\n      stroke-miterlimit=\"10\" pointer-events=\"all\" />\n    <path d=\"M 887 121 L 734.1 121\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"3\" stroke-miterlimit=\"10\"\n      pointer-events=\"stroke\" />\n    <path d=\"M 727.35 121 L 736.35 116.5 L 734.1 121 L 736.35 125.5 Z\" fill=\"#ffffff\" stroke=\"#ffffff\" stroke-width=\"3\"\n      stroke-miterlimit=\"10\" pointer-events=\"all\" />\n    <path d=\"M 1063 121 L 1026 121 L 997.9 120.78\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"3\" stroke-miterlimit=\"10\"\n      pointer-events=\"stroke\" />\n    <path d=\"M 1063 126 L 1063 116\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"3\" stroke-miterlimit=\"10\"\n      pointer-events=\"all\" />\n    <path d=\"M 991.15 120.73 L 1000.19 116.3 L 997.9 120.78 L 1000.12 125.3 Z\" fill=\"#ffffff\" stroke=\"#ffffff\"\n      stroke-width=\"3\" stroke-miterlimit=\"10\" pointer-events=\"all\" />\n    <rect x=\"504\" y=\"90\" width=\"160\" height=\"430\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <path\n      d=\"M 632 101.67 L 632 223.28 C 632 229.73 610.51 234.95 584 234.95 C 557.49 234.95 536 229.73 536 223.28 L 536 101.67 C 536 95.23 557.49 90 584 90 C 610.51 90 632 95.23 632 101.67 Z\"\n      fill=\"#56517e\" stroke=\"#eeeeee\" stroke-miterlimit=\"10\" pointer-events=\"all\" />\n    <rect x=\"576\" y=\"235.44\" width=\"16\" height=\"279.69\" fill=\"#56517e\" stroke=\"#eeeeee\" pointer-events=\"all\" />\n    <path d=\"M 536 101.67 L 632 101.67 M 536 223.28 L 632 223.28\" fill=\"none\" stroke=\"#eeeeee\" stroke-miterlimit=\"10\"\n      pointer-events=\"all\" />\n    <ellipse cx=\"624\" cy=\"515.14\" rx=\"40\" ry=\"4.864253393665158\" fill=\"#56517e\" stroke=\"#eeeeee\" pointer-events=\"all\" />\n    <ellipse cx=\"544\" cy=\"515.14\" rx=\"40\" ry=\"4.864253393665158\" fill=\"#56517e\" stroke=\"#eeeeee\" pointer-events=\"all\" />\n    <rect x=\"534\" y=\"80\" width=\"100\" height=\"180\" rx=\"15\" ry=\"15\" fill=\"#56517e\" stroke=\"none\" pointer-events=\"all\" />\n    <path d=\"M 576 260 L 576 76\" fill=\"none\" stroke=\"#ffffff\" stroke-miterlimit=\"10\" pointer-events=\"stroke\" />\n    <path d=\"M 592 260 L 592 76\" fill=\"none\" stroke=\"#ffffff\" stroke-miterlimit=\"10\" pointer-events=\"stroke\" />\n    <rect x=\"434.5\" y=\"542.5\" width=\"275.5\" height=\"35\" rx=\"5.25\" ry=\"5.25\" fill=\"#56517e\" stroke=\"#eeeeee\"\n      pointer-events=\"all\" />\n    <rect x=\"416\" y=\"530\" width=\"30\" height=\"60\" rx=\"4.5\" ry=\"4.5\" fill=\"#56517e\" stroke=\"#eeeeee\"\n      pointer-events=\"all\" />\n    <rect x=\"730\" y=\"576\" width=\"60\" height=\"30\" rx=\"4.5\" ry=\"4.5\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 58px; height: 1px; padding-top: 591px; margin-left: 731px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;\">\n                <font style=\"font-size: 20px;\"><b>s1</b></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"760\" y=\"595\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">s1</text>\n      </switch>\n    </g>\n    <path\n      d=\"M 724 591 L 724 585 Q 724 579 732.32 584.55 L 737.16 587.77 Q 742 591 733.68 596.55 L 728.84 599.77 Q 724 603 724 597 Z\"\n      fill=\"#56517e\" stroke=\"#eeeeee\" stroke-miterlimit=\"10\" transform=\"rotate(180,733,591)\" pointer-events=\"all\" />\n    <rect x=\"727\" y=\"365\" width=\"60\" height=\"30\" rx=\"4.5\" ry=\"4.5\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 58px; height: 1px; padding-top: 380px; margin-left: 728px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;\">\n                <font style=\"font-size: 20px;\"><b>s2</b></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"757\" y=\"384\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">s2</text>\n      </switch>\n    </g>\n    <path\n      d=\"M 721 380 L 721 374 Q 721 368 729.32 373.55 L 734.16 376.77 Q 739 380 730.68 385.55 L 725.84 388.77 Q 721 392 721 386 Z\"\n      fill=\"#56517e\" stroke=\"#eeeeee\" stroke-miterlimit=\"10\" transform=\"rotate(180,730,380)\" pointer-events=\"all\" />\n    <rect x=\"730\" y=\"157\" width=\"60\" height=\"30\" rx=\"4.5\" ry=\"4.5\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 58px; height: 1px; padding-top: 172px; margin-left: 731px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;\">\n                <font style=\"font-size: 20px;\"><b>s3</b></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"760\" y=\"176\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">s3</text>\n      </switch>\n    </g>\n    <path\n      d=\"M 724 172 L 724 166 Q 724 160 732.32 165.55 L 737.16 168.77 Q 742 172 733.68 177.55 L 728.84 180.77 Q 724 184 724 178 Z\"\n      fill=\"#56517e\" stroke=\"#eeeeee\" stroke-miterlimit=\"10\" transform=\"rotate(180,733,172)\" pointer-events=\"all\" />\n    <rect x=\"341\" y=\"540\" width=\"80\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 560px; margin-left: 381px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <font style=\"font-size: 20px;\"><b>heater</b></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"381\" y=\"564\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">heater</text>\n      </switch>\n    </g>\n    <rect x=\"187\" y=\"61\" width=\"90\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 81px; margin-left: 232px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <span style=\"font-size: 20px;\"><b>valveA</b></span>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"232\" y=\"85\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">valveA</text>\n      </switch>\n    </g>\n    <rect x=\"893\" y=\"61\" width=\"90\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 81px; margin-left: 938px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <span style=\"font-size: 20px;\"><b>valveB</b></span>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"938\" y=\"85\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">valveB</text>\n      </switch>\n    </g>\n    <rect x=\"595\" y=\"707\" width=\"90\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 727px; margin-left: 640px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <span style=\"font-size: 20px;\"><b>valveC</b></span>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"640\" y=\"731\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">valveC</text>\n      </switch>\n    </g>\n    <rect x=\"544\" y=\"26\" width=\"80\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 46px; margin-left: 584px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <span style=\"font-size: 20px;\"><b>stirrer</b></span>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"584\" y=\"50\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">stirrer</text>\n      </switch>\n    </g>\n    <path d=\"M 112 121 L 137.52 121 Q 147.52 121 157.52 121.03 L 172.6 121.09\" fill=\"none\" stroke=\"#ffffff\"\n      stroke-width=\"3\" stroke-miterlimit=\"10\" pointer-events=\"stroke\" />\n    <path d=\"M 112 116 L 112 126\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"3\" stroke-miterlimit=\"10\"\n      pointer-events=\"all\" />\n    <path d=\"M 179.35 121.11 L 170.33 125.58 L 172.6 121.09 L 170.36 116.58 Z\" fill=\"#ffffff\" stroke=\"#ffffff\"\n      stroke-width=\"3\" stroke-miterlimit=\"10\" pointer-events=\"all\" />\n    <rect x=\"0\" y=\"792\" width=\"141\" height=\"30\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 139px; height: 1px; padding-top: 807px; margin-left: 1px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;\">\n                <b>BATCH-PROCESS<br />page 1 of 2</b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"71\" y=\"811\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">BATCH-PROCESS...</text>\n      </switch>\n    </g>\n    <rect x=\"592\" y=\"795\" width=\"148\" height=\"26\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 808px; margin-left: 666px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <b>\"FINISHED PRODUCT\"</b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"666\" y=\"812\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">\"FINISHED PRODUCT\"</text>\n      </switch>\n    </g>\n    <rect x=\"11\" y=\"106\" width=\"100\" height=\"30\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 98px; height: 1px; padding-top: 121px; margin-left: 12px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;\">\n                <b>\"CHEMICAL A\"</b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"61\" y=\"125\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">\"CHEMICAL A\"</text>\n      </switch>\n    </g>\n    <rect x=\"1064\" y=\"108\" width=\"100\" height=\"30\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 98px; height: 1px; padding-top: 123px; margin-left: 1065px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;\">\n                <b>\"CHEMICAL B\"</b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1114\" y=\"127\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">\"CHEMICAL B\"</text>\n      </switch>\n    </g>\n    <rect x=\"184\" y=\"123\" width=\"96\" height=\"50\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 94px; height: 1px; padding-top: 148px; margin-left: 185px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;\">\n                <font style=\"font-size: 16px; color: {{msg.payload.valveA ? 'green' : 'orange'}}\">{{msg.payload.valveA}}\n                </font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"232\" y=\"152\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">Text</text>\n      </switch>\n    </g>\n    <rect x=\"614\" y=\"21\" width=\"96\" height=\"50\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 94px; height: 1px; padding-top: 46px; margin-left: 615px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;\">\n                <font style=\"font-size: 16px; color: {{msg.payload.stirrer ? 'green' : 'orange'}}\">\n                  {{msg.payload.stirrer}}\n                </font>\n              </div>\n            </div>\n          </div>\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 94px; height: 1px; padding-top: 230px; margin-left: 610px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 18px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;\">\n                <font style=\"font-size: 16px; color: white\">\n                  temp = {{msg.payload.temp}}°C\n                </font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"662\" y=\"50\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">Text</text>\n      </switch>\n    </g>\n    <rect x=\"889\" y=\"123\" width=\"96\" height=\"50\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 94px; height: 1px; padding-top: 145px; margin-left: 890px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;\">\n                <font style=\"font-size: 16px; color: {{msg.payload.valveB ? 'green' : 'orange'}}\">{{msg.payload.valveB}}\n                </font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"937\" y=\"152\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">Text</text>\n      </switch>\n    </g>\n    <rect x=\"711\" y=\"168\" width=\"96\" height=\"50\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 94px; height: 1px; padding-top: 193px; margin-left: 712px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;\">\n                <font style=\"font-size: 16px; color: {{msg.payload.s3 ? 'green' : 'orange'}}\">{{msg.payload.s3}}</font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"759\" y=\"197\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">Text</text>\n      </switch>\n    </g>\n    <rect x=\"709\" y=\"376\" width=\"96\" height=\"50\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 94px; height: 1px; padding-top: 401px; margin-left: 710px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;\">\n                <font style=\"font-size: 16px; color: {{msg.payload.s2 ? 'green' : 'orange'}}\">{{msg.payload.s2}}</font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"757\" y=\"405\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">Text</text>\n      </switch>\n    </g>\n    <rect x=\"712\" y=\"586\" width=\"96\" height=\"50\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 94px; height: 1px; padding-top: 611px; margin-left: 713px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;\">\n                <font style=\"font-size: 16px; color: {{msg.payload.s1 ? 'green' : 'orange'}}\">{{msg.payload.s1}}\n                </font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"760\" y=\"615\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">Text</text>\n      </switch>\n    </g>\n    <rect x=\"333\" y=\"558\" width=\"96\" height=\"50\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 94px; height: 1px; padding-top: 583px; margin-left: 334px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;\">\n                <font style=\"font-size: 16px; color: {{msg.payload.heater ? 'green' : 'orange'}}\">{{msg.payload.heater}}\n                </font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"381\" y=\"587\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">Text</text>\n      </switch>\n    </g>\n    <rect x=\"592\" y=\"725\" width=\"96\" height=\"50\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 94px; height: 1px; padding-top: 750px; margin-left: 593px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;\">\n                <font style=\"font-size: 16px; color: {{msg.payload.valveC ? 'green' : 'orange'}}\">{{msg.payload.valveC}}\n                </font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"640\" y=\"754\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">Text</text>\n      </switch>\n    </g>\n    <rect x=\"67.5\" y=\"196\" width=\"331\" height=\"30\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe flex-start; width: 329px; height: 1px; padding-top: 211px; margin-left: 70px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: left;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;\">\n                FALSE = OFF/CLOSED WITH THE EXCEPTION OF LEVEL INDICATORS WHICH ARE NORMALLY CLOSED (NC) WHICH BECOMES\n                FALSE WHEN LEVEL REACH SENSOR</div>\n            </div>\n          </div>\n        </foreignObject><text x=\"70\" y=\"215\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\">FALSE = OFF/CLOSED\n          WITH THE EXCEPTION OF LEVEL INDICATO...</text>\n      </switch>\n    </g>\n    <rect x=\"820\" y=\"220\" width=\"317\" height=\"570\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"10\"\n      pointer-events=\"all\" />\n    pointer-events=\"all\" />\n    <rect x=\"853.5\" y=\"240\" width=\"99\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 260px; margin-left: 903px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"903\" y=\"264\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">manual</text>\n      </switch>\n    </g>\n    <rect x=\"1071.5\" y=\"247\" width=\"43\" height=\"26\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 260px; margin-left: 1093px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <font style=\"font-size: 9px;\"></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1093\" y=\"264\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\"></text>\n      </switch>\n    </g>\n    pointer-events=\"all\" />\n    <rect x=\"859.5\" y=\"285\" width=\"87\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 305px; margin-left: 903px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <b style=\"\"><font style=\"font-size: 23px;\">heater</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"903\" y=\"309\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">heater</text>\n      </switch>\n    </g>\n    <rect x=\"1071.5\" y=\"292\" width=\"43\" height=\"26\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 305px; margin-left: 1093px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <font style=\"font-size: 9px;\"></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1093\" y=\"309\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\"></text>\n      </switch>\n    </g>\n    pointer-events=\"all\" />\n    <rect x=\"861.5\" y=\"328\" width=\"84\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 348px; margin-left: 904px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <b style=\"\"><font style=\"font-size: 23px;\">stirrer</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"904\" y=\"352\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">stirrer</text>\n      </switch>\n    </g>\n    <rect x=\"1071.5\" y=\"335\" width=\"43\" height=\"26\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 348px; margin-left: 1093px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <font style=\"font-size: 9px;\"></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1093\" y=\"352\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\"></text>\n      </switch>\n    </g>\n    <rect x=\"864\" y=\"172\" width=\"240\" height=\"40\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 250px; margin-left: 980px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <font style=\"font-size: 23px;\">MANUAL OVERRIDE</font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"984\" y=\"196\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">MANUAL OVERRIDE</text>\n      </switch>\n    </g>\n    pointer-events=\"all\" />\n    <rect x=\"857\" y=\"371.5\" width=\"92\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 392px; margin-left: 903px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <b style=\"\"><font style=\"font-size: 23px;\">valveA</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"903\" y=\"395\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">valveA</text>\n      </switch>\n    </g>\n    <rect x=\"1071\" y=\"378.5\" width=\"43\" height=\"26\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 392px; margin-left: 1093px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <font style=\"font-size: 9px;\"></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1093\" y=\"395\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\"></text>\n      </switch>\n    </g>\n    pointer-events=\"all\" />\n    <rect x=\"857\" y=\"416.5\" width=\"92\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 437px; margin-left: 903px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <b style=\"\"><font style=\"font-size: 23px;\">valveB</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"903\" y=\"440\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">valveB</text>\n      </switch>\n    </g>\n    <rect x=\"1071\" y=\"423.5\" width=\"43\" height=\"26\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 437px; margin-left: 1093px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <font style=\"font-size: 9px;\"></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1093\" y=\"440\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\"></text>\n      </switch>\n    </g>\n    pointer-events=\"all\" />\n    <rect x=\"857\" y=\"466.5\" width=\"92\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 487px; margin-left: 903px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <b style=\"\"><font style=\"font-size: 23px;\">valveC</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"903\" y=\"490\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">valveC</text>\n      </switch>\n    </g>\n    <rect x=\"1071\" y=\"473.5\" width=\"43\" height=\"26\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 487px; margin-left: 1093px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <font style=\"font-size: 9px;\"></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1093\" y=\"490\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\"></text>\n      </switch>\n    </g>\n    <rect x=\"101\" y=\"316\" width=\"68\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 336px; margin-left: 131px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <b style=\"\"><font style=\"font-size: 23px;\">start</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"135\" y=\"340\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">start</text>\n      </switch>\n    </g>\n    <rect x=\"304\" y=\"323\" width=\"43\" height=\"26\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 336px; margin-left: 326px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <font style=\"font-size: 9px;\"></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"326\" y=\"340\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\"></text>\n      </switch>\n    </g>\n    <rect x=\"96\" y=\"361\" width=\"79\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 381px; margin-left: 136px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <b style=\"\"><font style=\"font-size: 23px;\">stop1</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"136\" y=\"385\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">stop1</text>\n      </switch>\n    </g>\n    <rect x=\"304\" y=\"368\" width=\"43\" height=\"26\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 381px; margin-left: 326px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <font style=\"font-size: 9px;\"></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"326\" y=\"385\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\"></text>\n      </switch>\n    </g>\n    <rect x=\"96\" y=\"411\" width=\"79\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 431px; margin-left: 136px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <b style=\"\"><font style=\"font-size: 23px;\">stop2</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"136\" y=\"435\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">stop2</text>\n      </switch>\n    </g>\n    <rect x=\"304\" y=\"418\" width=\"43\" height=\"26\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 431px; margin-left: 326px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <font style=\"font-size: 9px;\"></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"326\" y=\"435\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\"></text>\n      </switch>\n    </g>\n    <rect x=\"133\" y=\"274\" width=\"200\" height=\"40\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 294px; margin-left: 200px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <font style=\"font-size: 23px;\">AUTO [sequence]</font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"233\" y=\"298\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">AUTO [sequence]</text>\n      </switch>\n    </g>\n    <rect x=\"71\" y=\"269.5\" width=\"260\" height=\"204.5\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"10\"\n      pointer-events=\"all\" />\n    pointer-events=\"all\" />\n    <rect x=\"877.5\" y=\"543\" width=\"44\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 563px; margin-left: 900px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <b style=\"\"><font style=\"font-size: 23px;\">s1</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"900\" y=\"567\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">s1</text>\n      </switch>\n    </g>\n    <rect x=\"1067.5\" y=\"550\" width=\"43\" height=\"26\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 563px; margin-left: 1089px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <font style=\"font-size: 9px;\"></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1089\" y=\"567\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\"></text>\n      </switch>\n    </g>\n    pointer-events=\"all\" />\n    <rect x=\"877.5\" y=\"583\" width=\"44\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 603px; margin-left: 900px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <b style=\"\"><font style=\"font-size: 23px;\">s2</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"900\" y=\"607\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">s2</text>\n      </switch>\n    </g>\n    <rect x=\"1067.5\" y=\"590\" width=\"43\" height=\"26\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 603px; margin-left: 1089px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <font style=\"font-size: 9px;\"></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1089\" y=\"607\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\"></text>\n      </switch>\n    </g>\n    pointer-events=\"all\" />\n    <rect x=\"877.5\" y=\"623\" width=\"44\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 643px; margin-left: 900px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <b style=\"\"><font style=\"font-size: 23px;\">s3</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"900\" y=\"647\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">s3</text>\n      </switch>\n    </g>\n    <rect x=\"1067.5\" y=\"630\" width=\"43\" height=\"26\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 643px; margin-left: 1089px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <font style=\"font-size: 9px;\"></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1089\" y=\"647\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\"></text>\n      </switch>\n    </g>\n    pointer-events=\"all\" />\n    <rect x=\"863.5\" y=\"663\" width=\"73\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 683px; margin-left: 900px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <b style=\"\"><font style=\"font-size: 23px;\">temp</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"900\" y=\"687\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">temp</text>\n      </switch>\n    </g>\n    <rect x=\"1067.5\" y=\"670\" width=\"43\" height=\"26\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 683px; margin-left: 1089px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <font style=\"font-size: 9px;\"></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1089\" y=\"687\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\"></text>\n      </switch>\n    </g>\n    <rect x=\"849.5\" y=\"703\" width=\"102\" height=\"40\" rx=\"6\" ry=\"6\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 723px; margin-left: 900px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                <b style=\"\"><font style=\"font-size: 23px;\">counter</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"900\" y=\"727\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">counter</text>\n      </switch>\n    </g>\n    <rect x=\"864\" y=\"518.5\" width=\"242\" height=\"26\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 532px; margin-left: 973px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                FREEZE/FORCE SENSORS/VARIABLES</div>\n            </div>\n          </div>\n        </foreignObject><text x=\"985\" y=\"535\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">FREEZE/FORCE SENSORS/VARIABLES</text>\n      </switch>\n    </g>\n    <rect x=\"916\" y=\"217\" width=\"136\" height=\"26\" fill=\"none\" stroke=\"none\" pointer-events=\"all\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 275px; margin-left: 980px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: all; white-space: nowrap;\">\n                FORCE ACTUATORS</div>\n            </div>\n          </div>\n        </foreignObject><text x=\"984\" y=\"234\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">FORCE ACTUATORS</text>\n      </switch>\n    </g>\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 55px; height: 1px; padding-top: 723px; margin-left: 998px;\">\n            <div data-drawio-colors=\"color: rgb(0, 0, 0); \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; white-space: normal; overflow-wrap: normal;\">\n                <font style=\"font-size: 15px;\"><b>1</b></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1025\" y=\"726\" fill=\"rgb(0, 0, 0)\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">1</text>\n      </switch>\n    </g>\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 55px; height: 1px; padding-top: 764px; margin-left: 998px;\">\n            <div data-drawio-colors=\"color: rgb(0, 0, 0); \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; white-space: normal; overflow-wrap: normal;\">\n                <font style=\"font-size: 15px;\"><b>heating</b></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1025\" y=\"767\" fill=\"rgb(0, 0, 0)\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">heating</text>\n      </switch>\n    </g>\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 763px; margin-left: 904px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: nowrap;\">\n                <b style=\"\"><font style=\"font-size: 23px;\">state</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"904\" y=\"767\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">state</text>\n      </switch>\n    </g>\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 139px; height: 1px; padding-top: 807px; margin-left: 1170px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: normal; overflow-wrap: normal;\">\n                <b>BATCH-PROCESS<br />page 2 of 2</b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1240\" y=\"811\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">BATCH-PROCESS...</text>\n      </switch>\n    </g>\n    <ellipse cx=\"1766\" cy=\"312\" rx=\"50\" ry=\"50\" fill=\"{{msg.payload.CurrentState == 3 ? 'green' : 'gray'}}\"\n      stroke=\"white\" stroke-width=\"3\" pointer-events=\"none\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 98px; height: 1px; padding-top: 312px; margin-left: 1717px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: normal; overflow-wrap: normal;\">\n                <b><font style=\"font-size: 19px;\">fill_B</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1766\" y=\"316\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">fill_B</text>\n      </switch>\n    </g>\n    <ellipse cx=\"1961\" cy=\"392\" rx=\"50\" ry=\"50\" fill=\"{{msg.payload.CurrentState == 4 ? 'green' : 'gray'}}\"\n      stroke=\"white\" stroke-width=\"2\" pointer-events=\"none\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 98px; height: 1px; padding-top: 392px; margin-left: 1912px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: normal; overflow-wrap: normal;\">\n                <b><font style=\"font-size: 19px;\">heating</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1961\" y=\"396\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">heating</text>\n      </switch>\n    </g>\n    <ellipse cx=\"2021\" cy=\"562\" rx=\"50\" ry=\"50\" fill=\"{{msg.payload.CurrentState == 5 ? 'green' : 'gray'}}\"\n      stroke=\"white\" stroke-width=\"2\" pointer-events=\"none\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 98px; height: 1px; padding-top: 562px; margin-left: 1972px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: normal; overflow-wrap: normal;\">\n                <b><font style=\"font-size: 19px;\">wait</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"2021\" y=\"566\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">wait</text>\n      </switch>\n    </g>\n    <ellipse cx=\"1901\" cy=\"732\" rx=\"50\" ry=\"50\" fill=\"{{msg.payload.CurrentState == 6 ? 'green' : 'gray'}}\"\n      stroke=\"white\" stroke-width=\"2\" pointer-events=\"none\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 98px; height: 1px; padding-top: 732px; margin-left: 1852px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: normal; overflow-wrap: normal;\">\n                <b><font style=\"font-size: 19px;\">drain1</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1901\" y=\"736\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">drain1</text>\n      </switch>\n    </g>\n    <ellipse cx=\"1631\" cy=\"732\" rx=\"50\" ry=\"50\" fill=\"{{msg.payload.CurrentState == 7 ? 'green' : 'gray'}}\"\n      stroke=\"white\" stroke-width=\"2\" pointer-events=\"none\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 98px; height: 1px; padding-top: 732px; margin-left: 1582px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: normal; overflow-wrap: normal;\">\n                <font style=\"\" size=\"1\"><b style=\"font-size: 19px;\">drain2</b></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1631\" y=\"736\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">drain2</text>\n      </switch>\n    </g>\n    <ellipse cx=\"1561\" cy=\"392\" rx=\"50\" ry=\"50\" fill=\"{{msg.payload.CurrentState == 2 ? 'green' : 'gray'}}\"\n      stroke=\"white\" stroke-width=\"2\" pointer-events=\"none\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 98px; height: 1px; padding-top: 392px; margin-left: 1512px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: normal; overflow-wrap: normal;\">\n                <b><font style=\"font-size: 19px;\">fill_A</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1561\" y=\"396\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">fill_A</text>\n      </switch>\n    </g>\n    <ellipse cx=\"1491\" cy=\"562\" rx=\"50\" ry=\"50\" fill=\"{{msg.payload.CurrentState == 1 ? 'green' : 'gray'}}\"\n      stroke=\"white\" stroke-width=\"2\" pointer-events=\"none\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 98px; height: 1px; padding-top: 562px; margin-left: 1442px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: normal; overflow-wrap: normal;\">\n                <font style=\"\" size=\"1\"><b style=\"font-size: 19px;\">ready</b></font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1491\" y=\"566\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">ready</text>\n      </switch>\n    </g>\n    <path d=\"M 1596.36 356.64 Q 1641 312 1707.06 312\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"4\"\n      stroke-miterlimit=\"10\" pointer-events=\"none\" />\n    <path d=\"M 1701.53 317 L 1711.53 312 L 1701.53 307\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"4\"\n      stroke-miterlimit=\"10\" pointer-events=\"none\" />\n    <path d=\"M 1816 312 Q 1881 312 1919.32 350.32\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"4\" stroke-miterlimit=\"10\"\n      pointer-events=\"none\" />\n    <path d=\"M 1911.88 349.95 L 1922.48 353.48 L 1918.95 342.88\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"4\"\n      stroke-miterlimit=\"10\" pointer-events=\"none\" />\n    <path d=\"M 2001.3 423.6 Q 2021 452 2021 503.06\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"4\" stroke-miterlimit=\"10\"\n      pointer-events=\"none\" />\n    <path d=\"M 2016 497.53 L 2021 507.53 L 2026 497.53\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"4\"\n      stroke-miterlimit=\"10\" pointer-events=\"none\" />\n    <path d=\"M 1851 732 L 1689.94 732\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"4\" stroke-miterlimit=\"10\"\n      pointer-events=\"none\" />\n    <path d=\"M 1695.47 727 L 1685.47 732 L 1695.47 737\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"4\"\n      stroke-miterlimit=\"10\" pointer-events=\"none\" />\n    <path d=\"M 2021 612 Q 2021 722 1959.85 730.74\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"4\" stroke-miterlimit=\"10\"\n      pointer-events=\"none\" />\n    <path d=\"M 1964.62 725 L 1955.43 731.37 L 1966.03 734.9\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"4\"\n      stroke-miterlimit=\"10\" pointer-events=\"none\" />\n    <path d=\"M 1581 732 Q 1491.05 732.05 1491 620.94\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"4\"\n      stroke-miterlimit=\"10\" pointer-events=\"none\" />\n    <path d=\"M 1496.01 626.47 L 1491 616.47 L 1486.01 626.47\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"4\"\n      stroke-miterlimit=\"10\" pointer-events=\"none\" />\n    <path d=\"M 1491 512 Q 1491 462 1519.32 433.68\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"4\" stroke-miterlimit=\"10\"\n      pointer-events=\"none\" />\n    <path d=\"M 1518.95 441.12 L 1522.48 430.52 L 1511.88 434.05\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"4\"\n      stroke-miterlimit=\"10\" pointer-events=\"none\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 442px; margin-left: 1771px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: nowrap;\">\n                <div style=\"\"><span style=\"font-size: 20px; background-color: initial;\">STATE DIAGRAM OF</span></div>\n                <font style=\"font-size: 20px;\">\n                  <div style=\"\"><span style=\"background-color: initial;\">BATCH-PROCESS</span></div>\n                </font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1771\" y=\"446\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">STATE DIAGRAM OFBATCH-PROCESS</text>\n      </switch>\n    </g>\n    <path d=\"M 1631 682 Q 1631 472 1601.84 434.42\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"4\" stroke-miterlimit=\"10\"\n      pointer-events=\"none\" />\n    <path d=\"M 1609.18 435.72 L 1599.1 430.89 L 1601.28 441.85\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"4\"\n      stroke-miterlimit=\"10\" pointer-events=\"none\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 372px; margin-left: 1426px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: nowrap;\">\n                (*Increase Counter*)<br />(*Fill tank with Chemical A*)</div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1426\" y=\"376\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">(*Increase Counter*)...</text>\n      </switch>\n    </g>\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 293px; margin-left: 1627px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: nowrap;\">\n                <b>s2 == false OR stop2 == true </b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1627\" y=\"297\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">s2 == false OR stop2 == true </text>\n      </switch>\n    </g>\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 98px; height: 1px; padding-top: 459px; margin-left: 1423px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: left;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: normal; overflow-wrap: normal;\">\n                <b>start == true</b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1423\" y=\"471\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\">start ==\n          true</text>\n      </switch>\n    </g>\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 188px; height: 1px; padding-top: 286px; margin-left: 1831px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: left;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: normal; overflow-wrap: normal;\">\n                <b style=\"border-color: var(--border-color); text-align: center;\">s3 == false OR stop2 == true </b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1831\" y=\"298\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\">s3 == false OR\n          stop2 == true </text>\n      </switch>\n    </g>\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 447px; margin-left: 2106px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: nowrap;\">\n                <b>temp &gt;= 85 OR stop2 == true</b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"2106\" y=\"451\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">temp &gt;= 85 OR stop2 == true</text>\n      </switch>\n    </g>\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 702px; margin-left: 2096px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: nowrap;\">\n                <b>time &gt; 30 s OR <span style=\"border-color: var(--border-color);\">stop2 == true</span><br /></b> \n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"2096\" y=\"706\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">time &gt; 30 s OR stop2 == true...</text>\n      </switch>\n    </g>\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 749px; margin-left: 1766px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: nowrap;\">\n                <b>s2 == true OR stop2 == true</b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1766\" y=\"753\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">s2 == true OR stop2 == true</text>\n      </switch>\n    </g>\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 227px; margin-left: 1771px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: nowrap;\">\n                <br />(*Fill tank with Chemical B*)<br />(*Start heater*)<br />(*Start stirrer*)\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1771\" y=\"231\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">(*Fill tank with Chemical B*...</text>\n      </switch>\n    </g>\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 562px; margin-left: 2116px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: nowrap;\">\n                (*Timer active*)</div>\n            </div>\n          </div>\n        </foreignObject><text x=\"2116\" y=\"566\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">(*Timer active*)</text>\n      </switch>\n    </g>\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 767px; margin-left: 1986px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: nowrap;\">\n                (*Stop Heater*)</div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1986\" y=\"771\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">(*Stop Heater*)</text>\n      </switch>\n    </g>\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 797px; margin-left: 1631px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: nowrap;\">\n                (*Stop Stirrer*)</div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1631\" y=\"801\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">(*Stop Stirrer*)</text>\n      </switch>\n    </g>\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 562px; margin-left: 1390px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: nowrap;\">\n                (*Reset Counter*)</div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1390\" y=\"566\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">(*Reset Counter*)</text>\n      </switch>\n    </g>\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 692px; margin-left: 1411px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: nowrap;\">\n                <b>(s1 == true OR stop2 == true)</b><br /><b>AND</b><br /><b>(counter == 10 OR stop1 == true)</b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1411\" y=\"696\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">(s1 == true OR stop2 == true)...</text>\n      </switch>\n    </g>\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 552px; margin-left: 1732px;\">\n            <div data-drawio-colors=\"color: #FFFFFF; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: nowrap;\">\n                <b>s1 == true AND counter &lt; 10 AND<br />stop1 == false AND stop2 == false</b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1732\" y=\"556\" fill=\"#FFFFFF\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">s1 == true AND counter &lt; 10 AND...</text>\n      </switch>\n    </g>\n    <rect x=\"1210\" y=\"166\" width=\"200\" height=\"40\" fill=\"{{msg.payload.manual ? '#808080' : 'green'}}\" stroke=\"none\"\n      pointer-events=\"none\"></rect>\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 186px; margin-left: 1310px;\">\n            <div data-drawio-colors=\"color: #ffffff; \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(255, 255, 255); line-height: 1.2; pointer-events: none; white-space: nowrap;\">\n                <div style=\"text-align: justify;\">\n                  <span style=\"font-size: 23px; background-color: initial;\">AUTO [sequence]</span>\n                </div>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1310\" y=\"190\" fill=\"#ffffff\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">AUTO [sequence]</text>\n      </switch>\n    </g>\n    <rect x=\"1170\" y=\"4\" width=\"1165\" height=\"73\" fill=\"#ff0000\" stroke=\"#ffffff\" stroke-width=\"3\"\n      pointer-events=\"none\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 54px; height: 1px; padding-top: 19px; margin-left: 1184px;\">\n            <div data-drawio-colors=\"color: rgb(0, 0, 0); \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: center;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; white-space: normal; overflow-wrap: normal;\">\n                <b><font style=\"font-size: 20px;\" color=\"#ffffff\">ALARM</font></b>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1211\" y=\"23\" fill=\"rgb(0, 0, 0)\" font-family=\"Helvetica\" font-size=\"12px\"\n          text-anchor=\"middle\">ALARM</text>\n      </switch>\n    </g>\n    <path d=\"M 183 91 L 233 121 L 183 151 Z M 283 91 L 233 121 L 283 151 Z\" fill=\"#56517e\" stroke=\"#eeeeee\"\n      stroke-linejoin=\"round\" stroke-miterlimit=\"10\" pointer-events=\"none\" />\n    <path d=\"M 887 91 L 937 121 L 887 151 Z M 987 91 L 937 121 L 987 151 Z\" fill=\"#56517e\" stroke=\"#ffffff\"\n      stroke-linejoin=\"round\" stroke-miterlimit=\"10\" pointer-events=\"none\" />\n    <path d=\"M 1167 825 L 1167 1\" fill=\"none\" stroke=\"#ffffff\" stroke-width=\"3\" stroke-miterlimit=\"10\"\n      stroke-dasharray=\"9 9\" pointer-events=\"none\" />\n    <g transform=\"translate(-0.5 -0.5)\">\n      <switch>\n        <foreignObject pointer-events=\"none\" width=\"100%\" height=\"100%\"\n          requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"\n          style=\"overflow: visible; text-align: left;\">\n          <div xmlns=\"http://www.w3.org/1999/xhtml\"\n            style=\"display: flex; align-items: unsafe center; justify-content: unsafe flex-start; width: 70px; height: 1px; padding-top: 52px; margin-left: 1176px;\">\n            <div data-drawio-colors=\"color: rgb(0, 0, 0); \"\n              style=\"box-sizing: border-box; font-size: 0px; text-align: left; max-height: 84px; overflow: hidden;\">\n              <div\n                style=\"display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: none; white-space: normal; overflow-wrap: normal;\">\n                <font color=\"#ffffff\">1.<br />2.<br />3.</font>\n              </div>\n            </div>\n          </div>\n        </foreignObject><text x=\"1176\" y=\"76\" fill=\"rgb(0, 0, 0)\" font-family=\"Helvetica\" font-size=\"12px\">1....</text>\n      </switch>\n    </g>\n  </g>\n  <switch>\n    <g requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\" /><a transform=\"translate(0,-5)\"\n      xlink:href=\"https://www.diagrams.net/doc/faq/svg-export-text-problems\" target=\"_blank\"><text text-anchor=\"middle\"\n        font-size=\"10px\" x=\"50%\" y=\"100%\">Text is not SVG - cannot display</text></a>\n  </switch>\n\n  <script>\n    (function (scope) {\n            const data = {\n              start: false,\n              stop1: false,\n              stop2: false,\n              heater: null,\n              stirrer: null,\n              valveA: null,\n              valveB: null,\n              valveC: null,\n              s1: null,\n              s2: null,\n              s3: null,\n              temp: null,\n              counter: null,\n              CurrentState: null,\n              overridemode: null,\n              DebugReadLogicForceFreezeError: null,\n              ErrorCount: null,\n              Flag_LogicForceFreezeReadings_Error: null,\n              CurrentFlow: null\n            };\n        \n            const switchButtons = document.querySelectorAll(\".switch-button\");\n            const buttonProperties = [\n              \"start\", \"stop1\", \"stop2\", \"heater\", \"stirrer\", \"valveA\", \"valveB\", \"valveC\", \"s1\", \"s2\", \"s3\"\n            ];\n        \n            const tempInput = document.querySelector(\"#temp-input\");\n            const counterInput = document.querySelector(\"#counter-input\");\n            const stateSelect = document.querySelector(\"#state-select\");\n        \n            const tempOverride = document.querySelector(\"#temp-override\");\n            const counterOverride = document.querySelector(\"#counter-override\");\n            const stateOverride = document.querySelector(\"#state-override\");\n            const overrideCheckboxes = document.querySelectorAll(\".override-checkbox\");\n        \n            function updateDataFromIncomingPayload(payloadData) {\n              buttonProperties.forEach((property, index) => {\n                if (payloadData[property] !== undefined && payloadData[property] !== null) {\n                  data[property] = payloadData[property];\n                } else {\n                  data[property] = index > 2 ? null : false;\n                }\n              });\n        \n              data.temp = payloadData.temp !== undefined && payloadData.temp !== null ? payloadData.temp : null;\n              data.counter = payloadData.counter !== undefined && payloadData.counter !== null ? payloadData.counter : null;\n              data.CurrentState = payloadData.CurrentState !== undefined && payloadData.CurrentState !== null ?\n                payloadData.CurrentState : null;\n            }\n        \n            function updateOverrideMode() {\n              data.overridemode = Array.from(overrideCheckboxes).some(checkbox => checkbox.checked) || tempOverride.checked ||\n                counterOverride.checked || stateOverride.checked;\n            }\n        \n            function sendData() {\n              scope.send({ payload: data });\n            }\n        \n            switchButtons.forEach((switchElement, index) => {\n              const buttonProperty = buttonProperties[index];\n        \n              switchElement.onclick = function () {\n                let buttonState;\n        \n                if (this.style.backgroundColor === \"rgb(56, 209, 69)\") {\n                  this.style.backgroundColor = \"#ffa500\";\n                  this.textContent = \"false\";\n                  buttonState = false;\n                } else {\n                  this.style.backgroundColor = \"#38d145\";\n                  this.textContent = \"true\";\n                  buttonState = true;\n                }\n        \n                if (index > 2 && overrideCheckboxes[index - 3].checked) {\n                  data[buttonProperty] = buttonState;\n                } else if (index <= 2) {\n                  data[buttonProperty] = buttonState;\n                } else {\n                  data[buttonProperty] = null;\n                }\n                sendData();\n              };\n            });\n        \n            overrideCheckboxes.forEach((checkbox, index) => {\n              checkbox.addEventListener(\"change\", function () {\n                if (checkbox.checked) {\n                  data[buttonProperties[index + 3]] = switchButtons[index + 3].textContent === \"true\";\n                } else {\n                  data[buttonProperties[index + 3]] = null;\n                }\n                updateOverrideMode();\n                sendData();\n              });\n            });\n\n            tempInput.addEventListener(\"change\", function (event) {\n            if (tempOverride.checked) {\n            let temperature = parseFloat(event.target.value);\n            \n            if (isNaN(temperature)) {\n            console.log(\"Invalid temperature value.\");\n            return;\n            }\n            \n            data.temp = temperature;\n            } else {\n            data.temp = null;\n            }\n            sendData();\n            });\n            \n            tempOverride.addEventListener(\"change\", function () {\n            if (tempOverride.checked) {\n            let temperature = parseFloat(tempInput.value);\n            \n            if (isNaN(temperature)) {\n            console.log(\"Invalid temperature value.\");\n            return;\n            }\n            \n            data.temp = temperature;\n            } else {\n            data.temp = null;\n            }\n            updateOverrideMode();\n            sendData();\n            });\n            \n            counterInput.addEventListener(\"change\", function () {\n            if (counterOverride.checked) {\n            data.counter = Number(counterInput.value);\n            } else {\n            data.counter = null;\n            }\n            sendData();\n            });\n            \n            counterOverride.addEventListener(\"change\", function () {\n            if (counterOverride.checked) {\n            data.counter = Number(counterInput.value);\n            } else {\n            data.counter = null;\n            }\n            updateOverrideMode();\n            sendData();\n            });\n            \n            stateSelect.addEventListener(\"change\", function () {\n            if (stateOverride.checked) {\n            data.CurrentState = Number(stateSelect.value);\n            } else {\n            data.CurrentState = null;\n            }\n            sendData();\n            });\n            \n            stateOverride.addEventListener(\"change\", function () {\n            if (stateOverride.checked) {\n            data.CurrentState = Number(stateSelect.value);\n            } else {\n            data.CurrentState = null;\n            }\n            updateOverrideMode();\n            sendData();\n            });\n            \n            })(scope);\n            \n            scope.$watch('msg', function (msg) {\n            if (msg && msg.payload) {\n            updateDataFromIncomingPayload(msg.payload);\n            sendData();\n            }\n            });\n\n            scope.$watch('msg.payload.DebugReadLogicForceFreezeError', function (value) {\n            const textBackground = document.getElementById('text-background');\n            const deserializationErrorText = document.getElementById('deserialization-error-text');\n            \n            if (value !== 'Ok') {\n            textBackground.setAttribute('fill', 'red');\n            deserializationErrorText.textContent = `DeserializationError: ${value}`;\n            } else {\n            textBackground.setAttribute('fill', 'transparent');\n            deserializationErrorText.textContent = `DeserializationError: ${value}`;\n            }\n            });\n  </script>\n\n  <!-- ... (remaining HTML code for buttons, inputs, and styles) ... -->\n\n  <!-- Add the other buttons with appropriate styles and positions here -->\n  <!-- ... (existing switch containers from previous code) ... -->\n\n  <!-- Add numerical input elements for temp and counter -->\n  <!-- ... (existing temp-input-container and counter-input-container) ... -->\n\n  <!-- Add override checkboxes for buttons -->\n  <div id=\"override-checkbox-container\">\n    <!-- Add an override checkbox for each button, input, and select element -->\n    <!-- For buttons -->\n    <div style=\"position: absolute; left: 1080px; top: 294px;\">\n      <input type=\"checkbox\" class=\"override-checkbox\">\n    </div>\n    <div style=\"position: absolute; left: 1080px; top: 337px;\">\n      <input type=\"checkbox\" class=\"override-checkbox\">\n    </div>\n    <div style=\"position: absolute; left: 1080px; top: 380.5px;\">\n      <input type=\"checkbox\" class=\"override-checkbox\">\n    </div>\n    <div style=\"position: absolute; left: 1080px; top: 425.50px;\">\n      <input type=\"checkbox\" class=\"override-checkbox\">\n    </div>\n    <div style=\"position: absolute; left: 1080px; top: 475.5px;\">\n      <input type=\"checkbox\" class=\"override-checkbox\">\n    </div>\n    <div style=\"position: absolute; left: 1080px; top: 552px;\">\n      <input type=\"checkbox\" class=\"override-checkbox\">\n    </div>\n    <div style=\"position: absolute; left: 1080px; top: 592px;\">\n      <input type=\"checkbox\" class=\"override-checkbox\">\n    </div>\n    <div style=\"position: absolute; left: 1080px; top: 632px;\">\n      <input type=\"checkbox\" class=\"override-checkbox\">\n    </div>\n\n    <!-- ... (add more override checkbox divs for each button as needed) ... -->\n\n\n\n\n    <!-- Add the other buttons with appropriate styles and positions here -->\n    <div id=\"switch-container-1\" style=\"position: absolute; left: 222px; top: 325px;\">\n      <button class=\"switch-button\" style=\"width: 79px; height: 22px; border-radius: 11px; background-color: #ffa500; border: none; cursor: pointer; color: white; font-family: sans-serif;\">false</button>\n    </div>\n\n    <div id=\"switch-container-2\" style=\"position: absolute; left: 222px; top: 370px;\">\n      <button class=\"switch-button\" style=\"width: 79px; height: 22px; border-radius: 11px; background-color: #ffa500; border: none; cursor: pointer; color: white; font-family: sans-serif;\">false</button>\n    </div>\n\n    <div id=\"switch-container-3\" style=\"position: absolute; left: 222px; top: 420px;\">\n      <button class=\"switch-button\" style=\"width: 79px; height: 22px; border-radius: 11px; background-color: #ffa500; border: none; cursor: pointer; color: white; font-family: sans-serif;\">false</button>\n    </div>\n\n    <div id=\"switch-container-4\" style=\"position: absolute; left: 989.5px; top: 294px;\">\n      <button class=\"switch-button\" style=\"width: 79px; height: 22px; border-radius: 11px; background-color: #ffa500; border: none; cursor: pointer; color: white; font-family: sans-serif;\">false</button>\n    </div>\n\n    <div id=\"switch-container-5\" style=\"position: absolute; left: 989.5px; top: 337px;\">\n      <button class=\"switch-button\" style=\"width: 79px; height: 22px; border-radius: 11px; background-color: #ffa500; border: none; cursor: pointer; color: white; font-family: sans-serif;\">false</button>\n    </div>\n\n    <div id=\"switch-container-6\" style=\"position: absolute; left: 989.5px; top: 380.5px;\">\n      <button class=\"switch-button\" style=\"width: 79px; height: 22px; border-radius: 11px; background-color: #ffa500; border: none; cursor: pointer; color: white; font-family: sans-serif;\">false</button>\n    </div>\n\n    <div id=\"switch-container-7\" style=\"position: absolute; left: 989.5px; top: 425.50px;\">\n      <button class=\"switch-button\" style=\"width: 79px; height: 22px; border-radius: 11px; background-color: #ffa500; border: none; cursor: pointer; color: white; font-family: sans-serif;\">false</button>\n    </div>\n\n    <div id=\"switch-container-8\" style=\"position: absolute; left: 989.5px; top: 475.5px;\">\n      <button class=\"switch-button\" style=\"width: 79px; height: 22px; border-radius: 11px; background-color: #ffa500; border: none; cursor: pointer; color: white; font-family: sans-serif;\">false</button>\n    </div>\n\n    <div id=\"switch-container-9\" style=\"position: absolute; left: 989.5px; top: 552px;\">\n      <button class=\"switch-button\" style=\"width: 79px; height: 22px; border-radius: 11px; background-color: #ffa500; border: none; cursor: pointer; color: white; font-family: sans-serif;\">false</button>\n    </div>\n\n    <div id=\"switch-container-10\" style=\"position: absolute; left: 989.5px; top: 592px;\">\n      <button class=\"switch-button\" style=\"width: 79px; height: 22px; border-radius: 11px; background-color: #ffa500; border: none; cursor: pointer; color: white; font-family: sans-serif;\">false</button>\n    </div>\n\n    <div id=\"switch-container-11\" style=\"position: absolute; left: 989.5px; top: 632px;\">\n      <button class=\"switch-button\" style=\"width: 79px; height: 22px; border-radius: 11px; background-color: #ffa500; border: none; cursor: pointer; color: white; font-family: sans-serif;\">false</button>\n    </div>\n\n    <!-- Add numerical input elements for temp and counter -->\n\n    <!-- temp -->\n    <div id=\"temp-input-container\" style=\"position: absolute; left: 989.5px; top: 672px;\">\n      <input id=\"temp-input\" type=\"number\" style=\"width: 79px; height: 22px; border-radius: 11px; background-color: #ffffff; border: none; text-align: center; color: black; font-family: sans-serif;\">\n      <span style=\"position: absolute; left: 47px; top: 0; font-size: 16px; color: black;\">&deg;C</span>\n    </div>\n\n    <!-- Checkbox for temp input -->\n    <div style=\"position: absolute; left: 1080px; top: 672px;\">\n      <input type=\"checkbox\" id=\"temp-override\">\n    </div>\n\n\n    <!-- counter -->\n    <div id=\"counter-input-container\" style=\"position: absolute; left: 989.5px; top: 711px;\">\n      <input id=\"counter-input\" type=\"number\" style=\"width: 79px; height: 22px; border-radius: 11px; background-color: #ffffff; border: none; text-align: center; color: black; font-family: sans-serif;\">\n    </div>\n\n    <!-- Checkbox for counter input -->\n    <div style=\"position: absolute; left: 1080px; top: 711px;\">\n      <input type=\"checkbox\" id=\"counter-override\">\n    </div>\n\n    <!-- state -->\n    <div id=\"state-input-container\" style=\"position: absolute; left: 989.5px; top: 752px;\">\n      <label for=\"state-select\" style=\"color: white; font-family: sans-serif;\"></label>\n      <select id=\"state-select\" style=\"width: 79px; height: 22px; border-radius: 11px; background-color: #ffffff; border: none; text-align: center; color: black; font-family: sans-serif;\">\n      <option value=\"0\"></option>\n      <option value=\"1\">ready</option>\n      <option value=\"2\">fill_A</option>\n      <option value=\"3\">fill_B</option>\n      <option value=\"4\">heating</option>\n      <option value=\"5\">wait</option>\n      <option value=\"6\">drain1</option>\n      <option value=\"7\">drain2</option>\n    </select>\n    </div>\n\n    <!-- Checkbox for state input -->\n    <div style=\"position: absolute; left: 1080px; top: 752px;\">\n      <input type=\"checkbox\" id=\"state-override\">\n    </div>\n  </div>\n\n</svg>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 320,
        "y": 360,
        "wires": [
            [
                "05302a26a7d9a89d"
            ]
        ]
    },
    {
        "id": "d7bf22421718677e",
        "type": "inject",
        "z": "5876467d554e446b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "6268211513e467dc"
            ]
        ]
    },
    {
        "id": "dfc34c6df10bd3dc",
        "type": "function",
        "z": "5876467d554e446b",
        "name": "override",
        "func": "msg.payload = {\n    \"start\": false,\n    \"stop1\": false,\n    \"stop2\": true,\n    \"heater\": null,\n    \"stirrer\": null,\n    \"valveA\": null,\n    \"valveB\": null,\n    \"valveC\": null,\n    \"s1\": null,\n    \"s2\": null,\n    \"s3\": null,\n    \"temp\": 20,\n    \"counter\": null,\n    \"CurrentState\": null,\n    \"overridemode\": true,\n    \"Flag_LogicForceFreezeReadings_Error\": false,\n    \"LFFR_ReadFailCount\": 0,\n    \"DebugReadLogicForceFreeze\": \"Ok\"\n\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "9ab4c027559a05c0",
        "type": "join",
        "z": "5876467d554e446b",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1150,
        "y": 280,
        "wires": [
            [
                "3c4501b8f56f92a5"
            ]
        ]
    },
    {
        "id": "d4ef38ddd3edaadd",
        "type": "inject",
        "z": "5876467d554e446b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"start\":false,\"stop1\":false,\"stop2\":true,\"heater\":true,\"stirrer\":true,\"valveA\":false,\"valveB\":false,\"valveC\":false,\"s1\":false,\"s2\":false,\"s3\":false,\"temp\":50,\"counter\":null,\"CurrentState\":null,\"overridemode\":true,\"Flag_LogicForceFreezeReadings_Error\":false,\"LFFR_ReadFailCount\":0,\"DebugReadLogicForceFreeze\":\"Ok\",\"CurrentFlow\":\"SensorDataReading\"}",
        "payloadType": "str",
        "x": 1610,
        "y": 560,
        "wires": [
            [
                "d2371909716289e8"
            ]
        ]
    },
    {
        "id": "2ec6324053958050",
        "type": "inject",
        "z": "5876467d554e446b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 740,
        "wires": [
            [
                "dfc34c6df10bd3dc"
            ]
        ]
    },
    {
        "id": "795365759708c8fd",
        "type": "change",
        "z": "5876467d554e446b",
        "name": "SensorLogicDataWritings",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SensorLogicDataWritings",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 280,
        "wires": [
            [
                "9ab4c027559a05c0"
            ]
        ]
    },
    {
        "id": "05302a26a7d9a89d",
        "type": "change",
        "z": "5876467d554e446b",
        "name": "Overrides from UI ",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "overridesinHMI",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "9ab4c027559a05c0"
            ]
        ]
    },
    {
        "id": "3c4501b8f56f92a5",
        "type": "function",
        "z": "5876467d554e446b",
        "name": "merging of flows",
        "func": "const control_layer = msg.payload.SensorLogicDataWritings;\nconst override = msg.payload.overridesinHMI;\n\n// Merge the two payloads, prioritizing non-null values in override_layer\nconst mergedPayload = {};\n\nfor (const key in control_layer) {\n    mergedPayload[key] = override[key] !== null ? override[key] : control_layer[key];\n}\n\nmsg.payload = mergedPayload;\nmsg.topic = \"LogicForceFreezeReadings\"\nreturn msg;\n\n\n//The given code merges two input payloads, control_layer and override, by creating a new object, mergedPayload. \n//It copies all the properties from the control_layer object and overwrites any non-null properties with the \n//corresponding values from the override object. The code uses a for...in loop to iterate over all properties \n//of the control_layer object and checks if the corresponding property in the override object is non-null. \n//If it is, the value from the override object is used, otherwise, the value from the control_layer object is used. \n//The modified mergedPayload object is returned as the output. This will prioritize any overrides operators/engineers \n//do in the UI/HMI over the controllayer suggestion. See figure 10 of thesis document v1.0 where our flow from control\n//layer \"Sensor & Logic data writings\" gets replaced with overrides performed by HMI Layer in the merged flow which is \n//sent back to the Control Layer for execution in flow \"Logic force & freeze readings\". ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 280,
        "wires": [
            [
                "ea82ece1189f470e",
                "a3dfd19fe9ce30b7"
            ]
        ]
    },
    {
        "id": "a3dfd19fe9ce30b7",
        "type": "change",
        "z": "5876467d554e446b",
        "name": "LogicForceFreezeReadings",
        "rules": [
            {
                "t": "set",
                "p": "payload.CurrentFlow",
                "pt": "msg",
                "to": "LogicForceFreezeReadings",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1600,
        "y": 280,
        "wires": [
            [
                "1658e71e4a2575d6"
            ]
        ]
    },
    {
        "id": "9038b48b1d3f91c1",
        "type": "function",
        "z": "5876467d554e446b",
        "name": "selector ",
        "func": "if (msg.payload.CurrentFlow === \"SensorLogicDataWritings\") {\n    node.send([null, msg]);//send msg out outlet \"SensorLogicDataWritings\"\n}\n\nelse if (msg.payload.CurrentFlow === \"ActuatorWritings\") {\n    node.send([msg, null]); //send msg out outlet \"ActuatorWritings\"\n\n}\n\nreturn null;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 280,
        "wires": [
            [
                "ce0b7437ed4e71d5"
            ],
            [
                "795365759708c8fd"
            ]
        ]
    },
    {
        "id": "ce0b7437ed4e71d5",
        "type": "function",
        "z": "5876467d554e446b",
        "name": "Process Simulation",
        "func": "// Store the initial payload\nconst initialPayload = msg.payload;\n\n// Tank and actuator constants\nconst TANK_CAPACITY = 1000;\nconst HEATER_POWER = 10000;\nconst HEATER_EFFICIENCY = 0.9;\nconst VALVE_A_FLOW_RATE = 10;\nconst VALVE_B_FLOW_RATE = 8;\nconst VALVE_C_FLOW_RATE = 25;\n\n// Level sensor thresholds (in liters)\nconst S1_THRESHOLD = 300;\nconst S2_THRESHOLD = 600;\nconst S3_THRESHOLD = 900;\n\n// Water properties\nconst SPECIFIC_HEAT_WATER = 4200; // J/kg°C\nconst DENSITY_WATER = 1000; // kg/m3\n\n// Process state\nlet process = {\n    tankVolume: 0, // L\n    temperature: initialPayload.temp // °C\n};\n\n// Actuator states\nlet actuators = {\n    heater: initialPayload.heater,\n    stirrer: initialPayload.stirrer,\n    valveA: initialPayload.valveA,\n    valveB: initialPayload.valveB,\n    valveC: initialPayload.valveC\n};\n\n// Update tank volume based on valve states\nif (actuators.valveA === true) {\n    process.tankVolume += VALVE_A_FLOW_RATE;\n}\nif (actuators.valveB === true) {\n    process.tankVolume += VALVE_B_FLOW_RATE;\n}\nif (actuators.valveC === true) {\n    process.tankVolume -= VALVE_C_FLOW_RATE;\n}\n\n// Clamp tank volume between 0 and 1000 L\nprocess.tankVolume = Math.max(0, Math.min(TANK_CAPACITY, process.tankVolume));\n\n// Update temperature based on heater state\nif (actuators.heater === true) {\n    let powerApplied = HEATER_POWER * HEATER_EFFICIENCY; // W\n    let timeInterval = 1; // s\n    let energyApplied = powerApplied * timeInterval; // J\n    let massWater = process.tankVolume * DENSITY_WATER / 1000; // kg\n    let tempChange = energyApplied / (massWater * SPECIFIC_HEAT_WATER); // °C\n    process.temperature += tempChange;\n}\n\n// Update sensor values based on process state\ninitialPayload.s1 = process.tankVolume < S1_THRESHOLD;\ninitialPayload.s2 = process.tankVolume < S2_THRESHOLD;\ninitialPayload.s3 = process.tankVolume < S3_THRESHOLD;\ninitialPayload.temp = process.temperature; // Update the initial payload with the new temperature\n\nmsg.payload = initialPayload; // Set the msg.payload to the updated initial payload\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 220,
        "wires": [
            [
                "3e1c8f1b33210f69"
            ]
        ]
    },
    {
        "id": "3e1c8f1b33210f69",
        "type": "change",
        "z": "5876467d554e446b",
        "name": "SensorDataReading",
        "rules": [
            {
                "t": "set",
                "p": "payload.CurrentFlow",
                "pt": "msg",
                "to": "SensorDataReading",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 220,
        "wires": [
            [
                "0c1f88fea025a442"
            ]
        ]
    },
    {
        "id": "6e82086cc00b3c8e",
        "type": "comment",
        "z": "5876467d554e446b",
        "name": "ActuatorWritings",
        "info": "",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "928dbea4844ffc00",
        "type": "serial in",
        "z": "5876467d554e446b",
        "name": "",
        "serial": "3c689f194f494e02",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "93da4d3a408c1047",
                "2b19a76ba82e02e0"
            ]
        ]
    },
    {
        "id": "c42044015f318f19",
        "type": "serial out",
        "z": "5876467d554e446b",
        "name": "",
        "serial": "3c689f194f494e02",
        "x": 2290,
        "y": 220,
        "wires": []
    },
    {
        "id": "a24827b7f41153d3",
        "type": "join",
        "z": "5876467d554e446b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1970,
        "y": 220,
        "wires": [
            [
                "b77cd56a5f5792c1",
                "7d151f228e82bc83"
            ]
        ]
    },
    {
        "id": "6268211513e467dc",
        "type": "function",
        "z": "5876467d554e446b",
        "name": "control_layer",
        "func": "msg.payload = {\n    \"start\": false,\n    \"stop1\": false,\n    \"stop2\": true,\n    \"heater\": true,\n    \"stirrer\": true,\n    \"valveA\": false,\n    \"valveB\": false,\n    \"valveC\": false,\n    \"s1\": false,\n    \"s2\": false,\n    \"s3\": false,\n    \"temp\": 50,\n    \"counter\": null,\n    \"CurrentState\": null,\n    \"overridemode\": true,\n    \"Flag_LogicForceFreezeReadings_Error\": false,\n    \"LFFR_ReadFailCount\": 0,\n    \"DebugReadLogicForceFreeze\": \"Ok\",\n    \"CurrentFlow\" : null\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "0c1f88fea025a442",
        "type": "json",
        "z": "5876467d554e446b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1770,
        "y": 220,
        "wires": [
            [
                "a24827b7f41153d3"
            ]
        ]
    },
    {
        "id": "1658e71e4a2575d6",
        "type": "json",
        "z": "5876467d554e446b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1830,
        "y": 260,
        "wires": [
            [
                "a24827b7f41153d3"
            ]
        ]
    },
    {
        "id": "05918c46a231806b",
        "type": "inject",
        "z": "5876467d554e446b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"start\":false,\"stop1\":false,\"stop2\":true,\"heater\":true,\"stirrer\":true,\"valveA\":false,\"valveB\":false,\"valveC\":false,\"s1\":false,\"s2\":false,\"s3\":false,\"temp\":50,\"counter\":null,\"CurrentState\":null,\"overridemode\":true,\"Flag_LogicForceFreezeReadings_Error\":false,\"LFFR_ReadFailCount\":0,\"DebugReadLogicForceFreeze\":\"Ok\",\"CurrentFlow\":\"LogicForceFreezeReadings\"}",
        "payloadType": "str",
        "x": 1610,
        "y": 500,
        "wires": [
            [
                "d2371909716289e8"
            ]
        ]
    },
    {
        "id": "d2371909716289e8",
        "type": "join",
        "z": "5876467d554e446b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1770,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b77cd56a5f5792c1",
        "type": "split",
        "z": "5876467d554e446b",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 2110,
        "y": 220,
        "wires": [
            [
                "c42044015f318f19",
                "50520f0dbff36069"
            ]
        ]
    },
    {
        "id": "2b19a76ba82e02e0",
        "type": "debug",
        "z": "5876467d554e446b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "edd1cae3f13fc428",
        "type": "debug",
        "z": "5876467d554e446b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "7d151f228e82bc83",
        "type": "debug",
        "z": "5876467d554e446b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2060,
        "y": 160,
        "wires": []
    },
    {
        "id": "50520f0dbff36069",
        "type": "debug",
        "z": "5876467d554e446b",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2260,
        "y": 160,
        "wires": []
    }
]