nodered_sourcecode/gitflow.json
[
    {
        "id": "09c5393cc94c2c31",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1d8f9aa3.5a8415",
        "type": "tab",
        "label": "Process Control",
        "disabled": true,
        "info": ""
    },
    {
        "id": "9b117d88e34b540e",
        "type": "tab",
        "label": "Process Control",
        "disabled": true,
        "info": ""
    },
    {
        "id": "bfb13561f88fd906",
        "type": "tab",
        "label": "Arduino Integration",
        "disabled": true
    },
    {
        "id": "975c6a8b.8b9bf8",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e0d0071e.95d478",
        "type": "ui_group",
        "name": "Process Control",
        "tab": "cbe94487.c0f7a8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cbe94487.c0f7a8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c0560840f6788fc2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7997fa8c8ec22f65",
        "type": "mqtt out",
        "z": "09c5393cc94c2c31",
        "name": "Send to Arduino",
        "topic": "arduino/in",
        "qos": "0",
        "retain": "false",
        "broker": "975c6a8b.8b9bf8",
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "bfb52012163523dc",
        "type": "mqtt in",
        "z": "09c5393cc94c2c31",
        "name": "Receive from Arduino",
        "topic": "arduino/out",
        "qos": "0",
        "datatype": "auto",
        "broker": "975c6a8b.8b9bf8",
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "4358f8e31d33fac0"
            ]
        ]
    },
    {
        "id": "4358f8e31d33fac0",
        "type": "json",
        "z": "09c5393cc94c2c31",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "eb5dc8b6be7b76ab"
            ]
        ]
    },
    {
        "id": "eb5dc8b6be7b76ab",
        "type": "function",
        "z": "09c5393cc94c2c31",
        "name": "Handle Arduino Data",
        "func": "let arduinoData = msg.payload;\n\nlet outputMessages = [\n    { payload: arduinoData.heater },\n    { payload: arduinoData.stirrer },\n    { payload: arduinoData.valve_a },\n    { payload: arduinoData.valve_b },\n    { payload: arduinoData.valve_c }\n];\n\nreturn outputMessages;",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 120,
        "wires": [
            [
                "a986514ea8266727"
            ],
            [
                "7de47bc10c7ea0c5"
            ],
            [
                "5d59f25d9d1207d8"
            ],
            [
                "75125d1bf3171370"
            ],
            []
        ]
    },
    {
        "id": "8313f02955bad758",
        "type": "function",
        "z": "09c5393cc94c2c31",
        "name": "Prepare Data for Arduino",
        "func": "let inputData = {\n    simulate: msg.payload.simulate,\n    sim_s1: msg.payload.sim_s1,\n    sim_s2: msg.payload.sim_s2,\n    sim_s3: msg.payload.sim_s3,\n    sim_temp: msg.payload.sim_temp,\n    start: msg.payload.start,\n    stop1: msg.payload.stop1,\n    stop2: msg.payload.stop2\n};\n\nmsg.payload = JSON.stringify(inputData);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 240,
        "wires": [
            [
                "7997fa8c8ec22f65"
            ]
        ]
    },
    {
        "id": "a986514ea8266727",
        "type": "debug",
        "z": "09c5393cc94c2c31",
        "name": "Heater",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 40,
        "wires": []
    },
    {
        "id": "7de47bc10c7ea0c5",
        "type": "debug",
        "z": "09c5393cc94c2c31",
        "name": "Stirrer",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "5d59f25d9d1207d8",
        "type": "debug",
        "z": "09c5393cc94c2c31",
        "name": "Valve A",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "75125d1bf3171370",
        "type": "debug",
        "z": "09c5393cc94c2c31",
        "name": "Valve B",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "cd6424234dcedf50",
        "type": "debug",
        "z": "09c5393cc94c2c31",
        "name": "Valve C",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 200,
        "wires": []
    },
    {
        "id": "ce2e1213164498f4",
        "type": "inject",
        "z": "09c5393cc94c2c31",
        "name": "Send Data to Arduino",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"simulate\":false,\"sim_s1\":false,\"sim_s2\":false,\"sim_s3\":false,\"sim_temp\":0,\"start\":true,\"stop1\":false,\"stop2\":false}",
        "payloadType": "json",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "8313f02955bad758"
            ]
        ]
    },
    {
        "id": "ad4a6c81d614dda9",
        "type": "mqtt in",
        "z": "9b117d88e34b540e",
        "name": "Arduino data",
        "topic": "arduino/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "975c6a8b.8b9bf8",
        "inputs": 0,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "48f2e31e205d373c"
            ]
        ]
    },
    {
        "id": "48f2e31e205d373c",
        "type": "json",
        "z": "9b117d88e34b540e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "8410105aba013930"
            ]
        ]
    },
    {
        "id": "8410105aba013930",
        "type": "function",
        "z": "9b117d88e34b540e",
        "name": "processData",
        "func": "const {heater, stirrer, valve_a, valve_b, valve_c} = msg.payload;\n\nconst updateState = (state, id) => {\n    return {payload: {state: state ? \"1\" : \"0\"}, topic: id};\n};\n\nreturn [\n    updateState(heater, \"heater\"),\n    updateState(stirrer, \"stirrer\"),\n    updateState(valve_a, \"valve_a\"),\n    updateState(valve_b, \"valve_b\"),\n    updateState(valve_c, \"valve_c\")\n];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 120,
        "wires": [
            [
                "32fd3c55211c90ad"
            ],
            [
                "ec4508d1fb7a866a"
            ],
            [
                "c1a8d4d1cbdf8bb4"
            ],
            [
                "fa6df250bbfe2342"
            ],
            [
                "5a526966d72cce1e"
            ]
        ]
    },
    {
        "id": "32fd3c55211c90ad",
        "type": "ui_led",
        "z": "9b117d88e34b540e",
        "order": 1,
        "group": "e0d0071e.95d478",
        "width": "3",
        "height": "1",
        "label": "Heater",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "ec4508d1fb7a866a",
        "type": "ui_led",
        "z": "9b117d88e34b540e",
        "order": 2,
        "group": "e0d0071e.95d478",
        "width": "3",
        "height": "1",
        "label": "Stirrer",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "c1a8d4d1cbdf8bb4",
        "type": "ui_led",
        "z": "9b117d88e34b540e",
        "order": 3,
        "group": "e0d0071e.95d478",
        "width": "3",
        "height": "1",
        "label": "Valve A",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "fa6df250bbfe2342",
        "type": "ui_led",
        "z": "9b117d88e34b540e",
        "order": 4,
        "group": "e0d0071e.95d478",
        "width": "3",
        "height": "1",
        "label": "Valve B",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "5a526966d72cce1e",
        "type": "ui_led",
        "z": "9b117d88e34b540e",
        "order": 5,
        "group": "e0d0071e.95d478",
        "width": "3",
        "height": "1",
        "label": "Valve C",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 630,
        "y": 300,
        "wires": []
    }
]